@use 'font';

.projects-header {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

  &__main-txt {
    max-width: 650px;
    width: 100%;
    height: 400px;

    & h2 {
      max-width: 500px;
      width: 100%;
      height: 130px;
      height: 130px;
      font-family: $main-font;
      color: $main-font-color;
      font-size: 40px;
      font-weight: 700;
      line-height: 55px;
      letter-spacing: 0px;
      text-align: left;
  }

    & p {
      max-width: 640px;
      width: 100%;
      height: 230px;
      font-family: $main-font;
      color: $secondary-font-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0px;
      text-align: left;
}
}

  &__portfolio {
    max-width: 340px;
    width: 100%;
    height: 350px;

    &__text-container {
      max-width:500px;
      width: 100%;
      height: 60px;
      padding-bottom: 15px;
      border-bottom: 2px solid $txt-line;
      display: flex;
      align-items: center;
      padding: 0;

      & h5 {
        max-width:100px;
        width: 100%;
        height: 20px;
        font-family: $main-font;
        color: $secondary-font-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;
        padding: 0;
      }

      & p {
        width: 170px;
        height: 20px;
        font-family: $main-font;
        color: $main-font-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 40px;
        padding: 0;
      }
}
}
}

.projects-article {
  width: 100%;
  & img {
    width: 100%;
    height: auto;
    margin-top: 60px;
  }
  & p {
    width: 100%;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: $secondary-font-color;
  }
  & figure {
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 50px 0 135px 0;

    & .card-1 {
      width: 350px;
      height: 400px;
      background-image: url(/image/green-mountain.png);
      background-size: cover;
    }
    & .card-2 {
      width: 350px;
      height: 400px;
      background-image: url(/image/flower-vase.png);
      background-size: cover;
    }
    & .card-3 {
      width: 350px;
      height: 400px;
      background-image: url(/image/door.png);
      background-size: cover;
    }
  }
}






