
@import 'index-photo-grid';
@import 'nav';
@import 'font';
@import 'index-services';
@import 'index-awards';
@import 'footer';
@import 'index-header';
@import 'projects-page';
@import 'contact-page';
@import 'button-submit';
@import 'form-contact';

body {
  margin: 0;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 60px;
  padding-bottom: 47px;
  background: #F2F2F2;
 }





 


  