
@import 'index-photo-grid';
@import 'nav';
@import 'index-header';
@import 'font';
@import 'index-services';


body {
  margin: 0;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 60px;
  padding-bottom: 47px;
  background: #F2F2F2;
 }

 


 